/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

/* End of "Micro clearfix" */

/*
background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");*/

.container {
  max-width: 1000px; 
  border: 0px solid #000;
  margin: 16px auto;
}

header {
  background-color:#F00;
}

#content {
  background-color:#FFA500;
}

aside {
  background-color:#FFC0CB;
}




footer {
  background-color:#0F0;
}

.col-4 {
  width: 31.2%;
  margin-left: 1.6%;
  margin-top: 1.6%;
  padding: 1.6%; /*padding is generated as a percentage of the parent element*/
  float: left;   /*this style targets the aside, whose parent is the div */
}                /*id="container", whose original width was 1000px, hence 1.6%*/
                 /*comes from 16/1000*/

.col-8 {
  width: 64%;
  margin-left: 1.6%;
  margin-top: 1.6%;
  padding: 1.6%;
  float: left;
}

.col-12 {
  width: 96.8%; /*968/1000*/
  margin-left: 1.6%;
  margin-top: 1.6%;
  padding: 1.6%;
  float: left;
}
/*
@media screen and (min-width: 900px) {
  .container {
    width: 800px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    width: 1000px;
  }
}
*/